:root {
	--bui_container: 1140px;
}

:root {
	--bui_z_index_0: 0;
	--bui_z_index_1: 100;
	--bui_z_index_2: 200;
	--bui_z_index_3: 300;
	--bui_z_index_4: 400;
}

:root {
	--bui_animation_duration: 0.15s;

	--bui_easing-slow-in: cubic-bezier(0, 0, 0.2, 1);
	--bui_easing-slow-out: cubic-bezier(0.4, 0, 1, 1);
	--bui_easing-slow-in-out: cubic-bezier(0.4, 0, 0.2, 1);
	--bui_easing-subtle-in: cubic-bezier(0, 0, 0.2, 1);
	--bui_easing-subtle-out: cubic-bezier(0.4, 0, 1, 1);
	--bui_easing-subtle-in-out: cubic-bezier(0.4, 0, 0.2, 1);
	--bui_easing-bounce-in: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	--bui_easing-bounce-out: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	--bui_timing-instant: 100ms;
	--bui_timing-fast: 150ms;
	--bui_timing-deliberate: 250ms;
	--bui_timing-slow: 300ms;
	--bui_timing-slower: 600ms;
	--bui_timing-slowest: 1000ms;
	--bui_timing-paused: 1600ms;
}
