.button {
  background: none;
  padding: 0;
  border: none;
  width: 100%;
  cursor: pointer;
  text-align: start;
  outline: none;
  display: flex;
  align-items: center;
}

.label {
  flex-grow: 1;
}

.icon {
  margin-inline-start: var(--bui_spacing_4x);
  flex-shrink: 0;
  transition: transform var(--bui_animation_press);
}

[data-bui-keyboard] .button:focus .icon {
  @apply --bui_focus;
}

.collapser {
  height: 0px;
  transition: height var(--bui_animation_appear);
}

.content {
  padding-block-start: var(--bui_spacing_4x);
}

/* Only apply nested styles to the current accordion instance and not the nested ones */
.root--active > .collapser {
  transition: height var(--bui_animation_appear);
}

.root--active > .button > .icon {
  transform: rotate(180deg);
}

.root--static > .button {
  cursor: default;
}

.root--static > .button > .icon {
  visibility: hidden;
}
