.root {
  display: inline-flex;
  vertical-align: top;
  text-decoration: none;
  color: inherit;
  text-align: start;
  border: none;
  padding: 0;
  background: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  box-sizing: border-box;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

button.root,
a.root,
.root[role="button"] {
  cursor: pointer;
}

.root:focus {
  outline: none;
  z-index: 10;
}

button.root[disabled] {
  cursor: not-allowed;
}

button.root[disabled]:active {
  transform: none;
}

[data-bui-keyboard] .root:focus {
  @apply --bui_focus;
}

[data-bui-keyboard] .root.focus-inset:focus {
  @apply --bui_focus_inset;
}

@bui-responsive .root--wide {
  @bui-modifier true {
    width: 100%;
  }

  @bui-modifier false {
    width: auto;
  }
}
