.root {
  /* Keep content scaling when fix width passed to the component becomes bigger than the parent */
  max-width: 100%;
}

.wrapper {
  position: relative;
}

.inner {
  position: absolute;
  inset: 0;
}

.inner > img,
.inner > picture,
.inner > picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@bui-responsive-vars .root, aspect_ratio, width {
  @bui-literal;
}

@bui-responsive-vars .wrapper, aspect_ratio, padding-top {
  @bui-literal;
}
