.root {
  box-sizing: border-box;
}

[data-bui-keyboard] .root:focus {
  @apply --bui_focus;
}

.root--overflow-hidden {
  overflow: hidden;
}

@bui-responsive-vars .root, box, padding {
  @bui-unit;
}

/* Border */
.root--border-width-100 {
  border: var(--bui_border_width_100) solid;
}

.root--border-radius-100 {
  border-radius: var(--bui_border_radius_100);
}

.root--border-radius-200 {
  border-radius: var(--bui_border_radius_200);
}

.root--border-radius-300 {
  border-radius: var(--bui_border_radius_300);
}

.root--border-radius-circle {
  border-radius: 9999px;
}

/* Colors */
.root--background-color-destructive_alt {
  background-color: var(--bui_color_destructive_background_alt);
}

.root--background-color-constructive_alt {
  background-color: var(--bui_color_constructive_background_alt);
}

.root--background-color-callout_alt {
  background-color: var(--bui_color_callout_background_alt);
}

.root--background-color-accent_alt {
  background-color: var(--bui_color_accent_background_alt);
}

.root--background-color-action_alt {
  background-color: var(--bui_color_action_background_alt);
}

.root--background-color-neutral_alt {
  background-color: var(--bui_color_background_alt);
}

.root--background-color-elevation_one {
  background-color: var(--bui_color_background_elevation_one);
}

.root--background-color-elevation_two {
  background-color: var(--bui_color_background_elevation_two);
}

.root--background-color-brand_primary {
  color: var(--bui_color_on_brand_primary_background);
  background-color: var(--bui_color_brand_primary_background);
}

.root--background-color-brand_primary_dynamic {
  color: var(--bui_color_on_brand_primary_background_dynamic);
  background-color: var(--bui_color_brand_primary_background_dynamic);
}

.root--border-color-action {
  border-color: var(--bui_color_action_border);
}

.root--border-color-destructive {
  border-color: var(--bui_color_destructive_border);
}

.root--border-color-constructive {
  border-color: var(--bui_color_constructive_border);
}

.root--border-color-accent {
  border-color: var(--bui_color_accent_border);
}

.root--border-color-callout {
  border-color: var(--bui_color_callout_border);
}

.root--border-color-neutral_alt {
  border-color: var(--bui_color_border_alt);
}

.root--border-color-neutral {
  border-color: var(--bui_color_border);
}

/* Orientation */
.root--orientation-horizontal {
  padding-block: 0;
}

.root--orientation-vertical {
  padding-inline: 0;
}
