.root {
  display: inline-block;
  position: relative;
  text-align: center;
}

.label {
  margin-block-end: var(--bui_spacing_1x);
}

.root--actionable .title {
  color: var(--bui_color_action_foreground);
}

.root--variant-detailed {
  text-align: start;
}
