.root {
  position: relative;
  padding-inline-end: calc(var(--bui_spacing_1x) * 9);
}

.close {
  position: absolute;

  /* Simulating line height of the heading */
  inset-block-start: var(--bui_spacing_half);
  inset-inline-end: 0;
  z-index: 5;
}

.root--fill .close {
  inset-block-start: var(--bui_spacing_4x);
  inset-inline-end: var(--bui_spacing_4x);
}

.root--hide-close,
.root--fill {
  padding-inline-end: 0;
}
