.root,
.root > * {
  box-sizing: border-box;

  /* Fix for floated elements before the grid, that break due to negative margin */
  clear: both;
}

@bui-responsive .root--columns {
  @bui-modifier 1 {
    --bui_grid_columns: 1;
  }

  @bui-modifier 2 {
    --bui_grid_columns: 2;
  }

  @bui-modifier 3 {
    --bui_grid_columns: 3;
  }

  @bui-modifier 4 {
    --bui_grid_columns: 4;
  }

  @bui-modifier 5 {
    --bui_grid_columns: 5;
  }

  @bui-modifier 6 {
    --bui_grid_columns: 6;
  }

  @bui-modifier 7 {
    --bui_grid_columns: 7;
  }

  @bui-modifier 8 {
    --bui_grid_columns: 8;
  }

  @bui-modifier 9 {
    --bui_grid_columns: 9;
  }

  @bui-modifier 10 {
    --bui_grid_columns: 10;
  }

  @bui-modifier 11 {
    --bui_grid_columns: 11;
  }

  @bui-modifier 12 {
    --bui_grid_columns: 12;
  }
}

@bui-responsive .column--size {
  @bui-modifier 1 {
    --bui_grid_column_size: calc(var(--bui_grid_columns) / 1);
  }

  @bui-modifier 2 {
    --bui_grid_column_size: calc(var(--bui_grid_columns) / 2);
  }

  @bui-modifier 3 {
    --bui_grid_column_size: calc(var(--bui_grid_columns) / 3);
  }

  @bui-modifier 4 {
    --bui_grid_column_size: calc(var(--bui_grid_columns) / 4);
  }

  @bui-modifier 5 {
    --bui_grid_column_size: calc(var(--bui_grid_columns) / 5);
  }

  @bui-modifier 6 {
    --bui_grid_column_size: calc(var(--bui_grid_columns) / 6);
  }

  @bui-modifier half {
    --bui_grid_column_size: 2;
  }

  @bui-modifier 7 {
    --bui_grid_column_size: calc(var(--bui_grid_columns) / 7);
  }

  @bui-modifier 8 {
    --bui_grid_column_size: calc(var(--bui_grid_columns) / 8);
  }

  @bui-modifier 9 {
    --bui_grid_column_size: calc(var(--bui_grid_columns) / 9);
  }

  @bui-modifier 10 {
    --bui_grid_column_size: calc(var(--bui_grid_columns) / 10);
  }

  @bui-modifier 11 {
    --bui_grid_column_size: calc(var(--bui_grid_columns) / 11);
  }

  @bui-modifier 12 {
    --bui_grid_column_size: calc(var(--bui_grid_columns) / 12);
  }

  @bui-modifier full {
    --bui_grid_column_size: 1;
  }
}

@bui-responsive .column--offset {
  @bui-modifier 1 {
    --bui_grid_column_offset: 1;
  }

  @bui-modifier 2 {
    --bui_grid_column_offset: 2;
  }

  @bui-modifier 3 {
    --bui_grid_column_offset: 3;
  }

  @bui-modifier 4 {
    --bui_grid_column_offset: 4;
  }

  @bui-modifier 5 {
    --bui_grid_column_offset: 5;
  }

  @bui-modifier 6 {
    --bui_grid_column_offset: 6;
  }

  @bui-modifier half {
    --bui_grid_column_offset: calc(var(--bui_grid_columns) * 0.5);
  }

  @bui-modifier 7 {
    --bui_grid_column_offset: 7;
  }

  @bui-modifier 8 {
    --bui_grid_column_offset: 8;
  }

  @bui-modifier 9 {
    --bui_grid_column_offset: 9;
  }

  @bui-modifier 10 {
    --bui_grid_column_offset: 10;
  }

  @bui-modifier 11 {
    --bui_grid_column_offset: 11;
  }

  @bui-modifier 12 {
    --bui_grid_column_offset: 12;
  }

  @bui-modifier full {
    --bui_grid_column_offset: var(--bui_grid_columns);
  }

  @bui-modifier auto {
    --bui_grid_column_offset_auto: auto;
  }
}

.column {
  --bui_grid_number_of_gaps: calc(var(--bui_grid_column_size) - 1);
  --bui_grid_column_gap_width: var(--bui_stack_gap);
  --bui_grid_column_width: calc(
    100% / var(--bui_grid_column_size) -
      (
        var(--bui_grid_column_gap_width) * var(--bui_grid_number_of_gaps) /
          var(--bui_grid_column_size)
      )
  );

  width: var(--bui_grid_column_width);

  /* Logic breakdown:
   * if: `--bui_grid_column_offset_auto` is defined — sets to auto
   * else: fallbacks to calculating correct offset,
   *   if: `--bui_grid_column_offset` is defined — calculates offset
   *   else: results to 0
   */
  --bui_grid_column_offset_fraction: calc(
    var(--bui_grid_column_offset, 0) / var(--bui_grid_columns)
  );
  margin-inline-start: var(
    --bui_grid_column_offset_auto,
    calc(
      var(--bui_grid_column_offset_fraction) * 100% +
        (
          var(--bui_grid_column_offset_fraction) *
            var(--bui_grid_column_gap_width)
        )
    )
  );
}

/* Sizing: Transport, to be deprecated in v9
============================================= */

.root--sizing-fit > .column {
  display: flex;
  width: auto;
}

.root--sizing-auto > .column {
  flex: 1 1 auto;
  width: auto;
}

.root--sizing-equal > .column {
  flex: 1 0 0;
  width: auto;
}
