@media (--bui_small_viewport) {
  .root--visible--small {
    display: block;
  }

  .root--hidden--small {
    display: none;
  }
}

@media (--bui_medium_viewport) {
  .root--visible--medium {
    display: block;
  }

  .root--hidden--medium {
    display: none;
  }
}

@media (--bui_large_viewport) {
  .root--visible--large {
    display: block;
  }

  .root--hidden--large {
    display: none;
  }
}

@media (--bui_xlarge_viewport) {
  .root--visible--xlarge {
    display: block;
  }

  .root--hidden--xlarge {
    display: none;
  }
}
