.root {
  display: inline-block;
  fill: currentcolor;
}

.root svg {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: auto;
}

[dir="rtl"] .root svg[data-rtl-flip] {
  transform: scaleX(-1);
}

/*
Temporary solution for icons used inside inline Group to avoid line-height adding a gap under the icon.
Potentially we can make all icons display: block by default in the future.
*/
.root--display-block {
  display: block;
}

@bui-responsive .root--size {
  @bui-modifier smallest {
    height: var(--bui_spacing_3x);  
  }
  
  @bui-modifier smaller {
    height: calc(var(--bui_spacing_3x) + var(--bui_spacing_half));
  }

  @bui-modifier small {
    height: var(--bui_spacing_4x);
  }

  @bui-modifier medium {
    height: calc(var(--bui_spacing_1x) * 5);
  }

  @bui-modifier large {
    height: var(--bui_spacing_6x);
  }

  @bui-modifier larger {
    height: calc(var(--bui_spacing_1x) * 7);
  }

  @bui-modifier largest {
    height: calc(var(--bui_spacing_1x) * 9);
  }
}

.root--color-white {
  color: var(--bui_color_white);
  fill: var(--bui_color_white);
}

.root--color-action {
  color: var(--bui_color_action_foreground);
  fill: var(--bui_color_action_foreground);
}

.root--color-destructive {
  color: var(--bui_color_destructive_foreground);
  fill: var(--bui_color_destructive_foreground);
}

.root--color-callout {
  color: var(--bui_color_callout_foreground);
  fill: var(--bui_color_callout_foreground);
}

.root--color-accent {
  color: var(--bui_color_accent_foreground);
  fill: var(--bui_color_accent_foreground);
}

.root--color-constructive {
  color: var(--bui_color_constructive_foreground);
  fill: var(--bui_color_constructive_foreground);
}

.root--color-neutral {
  color: var(--bui_color_foreground);
  fill: var(--bui_color_foreground);
}

.root--color-neutral_alt {
  color: var(--bui_color_foreground_alt);
  fill: var(--bui_color_foreground_alt);
}

.root--color-disabled {
  color: var(--bui_color_foreground_disabled);
  fill: var(--bui_color_foreground_disabled);
}

.root--color-brand_genius_secondary {
  color: var(--bui_color_brand_genius_secondary_foreground);
  fill: var(--bui_color_brand_genius_secondary_foreground);
}
