.content {
  display: flex;
  position: relative;
  isolation: isolate;
}

.field {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%;
}

.addon {
  color: var(--bui_color_foreground_alt);
  padding: 0 var(--bui_spacing_2x);
  text-align: center;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addon::after {
  content: "";
  position: absolute;
  width: var(--bui_border_width_100);
  inset-block: var(--bui_spacing_2x);
  background: var(--bui_color_border_alt);
}

.addon:first-child::after {
  inset-inline-end: 0;
}

.addon:last-child::after {
  inset-inline-start: 0;
}

.decorator {
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  background-color: var(--bui_color_background_elevation_one);
  border-radius: var(--bui_border_radius_100);
  border: var(--bui_border_width_100) solid var(--bui_color_border);
  transition: var(--bui_animation_press);
  transition-property: box-shadow, border-color;
}

.control {
  position: relative;
  z-index: 5;
  border-radius: var(--bui_border_radius_100);
  margin: 0; /* Reset for Safari */
  width: 100%;
  box-sizing: border-box;
  background: none;
  display: block;
  flex-grow: 1;
  border: none;
  appearance: none;
  padding: var(--bui_spacing_1x) var(--bui_spacing_2x);
  height: calc(var(--bui_spacing_1x) * 9);
  outline: none;

  @apply --bui_font_body_1;
}

/* Remove Show/Hide custom icon in MS Edge browser for password fields
https: //paste.booking.com/s3image.php?image=data/images/2/20dom2.png */
.control::-ms-reveal {
  display: none;
}

.control:-webkit-autofill {
  /* Remove the webkit autofill background color because
  it doesn't cover the whole input area when used with side slots */
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--bui_color_foreground);
}

.side {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.side:empty {
  display: none;
}

.side--start {
  padding-inline-start: var(--bui_spacing_2x);
}

.side--end {
  padding-inline-end: var(--bui_spacing_2x);
  margin-inline-start: var(--bui_spacing_1x);
}

[data-bui-keyboard] .control:focus + .decorator {
  @apply --bui_focus;
}

[data-bui-keyboard] .decorator {
  transition-property: none;
}

body:not([data-bui-keyboard])
  .root:not(.root--borderless)
  .control:focus
  + .decorator {
  box-shadow: 0 0 0 var(--bui_border_width_200) var(--bui_color_action_border);
  border-color: transparent;
}

.control::placeholder {
  color: var(--bui_color_foreground_alt);
}

.control:disabled::placeholder {
  color: var(--bui_color_foreground_disabled);
}

.control:disabled {
  cursor: not-allowed;
  color: var(--bui_color_foreground_disabled);
  -webkit-text-fill-color: var(--bui_color_foreground_disabled);
}

.control:-webkit-autofill:disabled {
  -webkit-text-fill-color: var(--bui_color_foreground_disabled);
}

.control:disabled + .decorator {
  border-color: var(--bui_color_border_disabled);
  background-color: var(--bui_color_background_disabled_alt);
  cursor: not-allowed;
}

.root--size-large .addon {
  padding: 0 var(--bui_spacing_3x);
}

.root--size-large .control {
  height: calc(var(--bui_spacing_1x) * 12);
  padding: calc(var(--bui_spacing_2x) + var(--bui_spacing_half))
    var(--bui_spacing_3x);
}

.root--size-large .side--start {
  padding-inline-start: var(--bui_spacing_3x);
}

.root--size-large .side--end {
  padding-inline-end: var(--bui_spacing_3x);
  margin-inline-start: var(--bui_spacing_2x);
}

.root--size-large .addon::after {
  inset-block: var(--bui_spacing_3x);
}

.root--borderless.root--status-error .decorator,
.root--status-error .decorator {
  border-color: var(--bui_color_destructive_border);
}

.root--disabled .addon {
  color: var(--bui_color_foreground_disabled);
}

.root--borderless .control:disabled + .decorator,
.root--borderless .decorator {
  border-color: transparent;
}

/* On mobile we need 16px font size to disable iOS zoom on focus but on other viewports we don't */
@media (--bui_medium_viewport) {
  .control {
    @apply --bui_font_body_2;
  }
}
