.wrapper {
  position: relative;
  isolation: isolate;
}

.field {
  color: var(--bui_color_foreground);
  background: transparent;
  border: none;
  position: relative;
  z-index: 5;
  display: block;
  padding: var(--bui_spacing_2x);
  width: 100%;
  appearance: none;
  text-align: start;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  outline: none;

  @apply --bui_font_body_1;
}

.decorator {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: var(--bui_border_radius_100);
  background-color: var(--bui_color_background_elevation_one);
  border: var(--bui_border_width_100) solid var(--bui_color_border);
  transition: border-width var(--bui_animation_press);
  transition-property: background-color, border-color;
}

[data-bui-keyboard] .field:focus + .decorator {
  @apply --bui_focus;
}

body:not([data-bui-keyboard]) .field:focus + .decorator {
  border-width: var(--bui_border_width_200);
  border-color: var(--bui_color_action_border);
}

.root--size-large .field {
  padding: calc(var(--bui_spacing_2x) + var(--bui_spacing_half))
    var(--bui_spacing_3x);
}

.field[disabled] {
  cursor: not-allowed;
  color: var(--bui_color_foreground_disabled);
}

.field[disabled] + .decorator {
  border-color: var(--bui_color_border_disabled);
  background-color: var(--bui_color_background_disabled_alt);
}

.field::placeholder {
  color: var(--bui_color_foreground_alt);
}

.field[disabled]::placeholder {
  color: var(--bui_color_foreground_disabled);
}

.root.root--status-error .field + .decorator {
  border-color: var(--bui_color_destructive_border);
}

/* On mobile we need 16px font size to disable iOS zoom on focus but on other viewports we don't */
@media (--bui_medium_viewport) {
  .field {
    @apply --bui_font_body_2;
  }
}
