.wrapper {
  position: relative;
  z-index: 0;
}

.field {
  color: var(--bui_color_foreground);
  background: var(--bui_color_background_elevation_one);
  border-radius: var(--bui_border_radius_100);
  border: var(--bui_border_width_100) solid var(--bui_color_border);
  display: block;
  width: 100%;
  cursor: pointer;
  appearance: none;
  text-align: start;
  text-overflow: ellipsis;
  z-index: var(--bui_z_index_1);
  outline: none;

  @apply --bui_font_body_1;
  padding: calc(var(--bui_spacing_1x) - var(--bui_border_width_100));
  min-height: calc(var(--bui_spacing_1x) * 9);

  /* Needs custom line-height to align text in Firefox */
  line-height: calc(var(--bui_spacing_1x) * 7) !important;
}

/* Hide native select arrow in IE */
.field::-ms-expand {
  display: none;
}

[data-bui-keyboard] .field:focus {
  @apply --bui_focus;
}

.start-content {
  position: absolute;
  inset-block-start: 50%;
  vertical-align: middle;
  fill: var(--bui_color_foreground);
  pointer-events: none;
  transform: translateY(-50%);
}

.start-avatar-wrapper {
  height: calc(var(--bui_spacing_1x) * 5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-avatar {
  flex-shrink: 0;
}

.endIconContainer {
  position: absolute;
  inset-block-start: 50%;
  display: flex;
  align-items: center;
  pointer-events: none;
  transform: translateY(-50%);
  z-index: var(--bui_z_index_1);
}

.root--borderless .field {
  border-color: transparent;
}

.arrowIcon {
  margin-inline-start: var(--bui_spacing_3x);
}

/* Sizes */
.root--size-medium .field {
  padding-inline-end: calc(var(--bui_spacing_8x) + var(--bui_spacing_1x));
  padding-inline-start: var(--bui_spacing_2x);
}

.root--size-medium .start-content {
  inset-inline-start: var(--bui_spacing_2x);
}

.root--size-medium .endIconContainer {
  inset-inline-end: var(--bui_spacing_2x);
}

.root--size-large .field {
  padding-inline-end: calc(var(--bui_spacing_1x) * 11);
  padding-inline-start: var(--bui_spacing_3x);
  min-height: calc(var(--bui_spacing_1x) * 12);

  /* Needs custom line-height to align text in Firefox */
  line-height: calc(var(--bui_spacing_1x) * 10) !important;
}

.root--size-large .start-content {
  inset-inline-start: var(--bui_spacing_3x);
}

.root--size-large .endIconContainer {
  inset-inline-end: var(--bui_spacing_3x);
}

/* States */
.root--disabled .arrowIcon {
  fill: var(--bui_color_foreground_disabled);
}

.root--disabled .field,
.field[disabled] {
  border-color: var(--bui_color_border_disabled);
  background-color: var(--bui_color_background_disabled_alt);
  cursor: not-allowed;
  color: var(--bui_color_foreground_disabled);
}

.root--borderless.root--disabled .field,
.root--borderless.field[disabled] {
  border-color: transparent;
}

.root--disabled .start-icon {
  fill: var(--bui_color_foreground_disabled);
}

.root--size-medium.root--status-error .field,
.root--size-medium.root--status-success .field {
  padding-inline-end: calc(var(--bui_spacing_1x) * 17);
}

.root--size-large.root--status-error .field,
.root--size-large.root--status-success .field {
  padding-inline-end: calc(var(--bui_spacing_1x) * 19);
}

.root--placeholder .field {
  color: var(--bui_color_foreground_alt);
}

.root--status-error .field {
  border-color: var(--bui_color_destructive_border);
}

.root--size-medium.root--has-start-content:not(.root--hide-value) .field {
  padding-inline-start: calc(var(--bui_spacing_8x) + var(--bui_spacing_2x));
}

.root--size-large.root--has-start-content:not(.root--hide-value) .field {
  padding-inline-start: calc(var(--bui_spacing_8x) + var(--bui_spacing_3x));
}

/* Hide value */
.root--hide-value .field {
  font-size: 0;
  width: 100%;
  padding-inline-start: initial;
  padding-inline-end: initial;
}

.root--hide-value.root--size-medium.root--has-start-content {
  width: calc(var(--bui_spacing_1x) * 18);
}

.root--hide-value.root--size-medium.root--has-start-content.root--status-error {
  width: calc(var(--bui_spacing_1x) * 26);
}

.root--hide-value.root--size-large.root--has-start-content {
  width: calc(var(--bui_spacing_1x) * 20);
}

.root--hide-value.root--size-large.root--has-start-content.root--status-error {
  width: calc(var(--bui_spacing_1x) * 28);
}

/* On mobile we need 16px font size to disable iOS zoom on focus but on other viewports we don't */
@media (--bui_medium_viewport) {
  .field {
    @apply --bui_font_body_2;
  }
}
