.root {
  color: var(--bui_color_action_foreground);
  text-decoration: underline;
  display: inline;
}

.root:hover,
.root:focus,
.root:active {
  color: var(--bui_color_action_foreground);
  text-decoration: underline;
}

.root:visited {
  color: var(--bui_color_action_foreground);
}

.root:active {
  color: var(--bui_color_action_foreground);
}

.icon--start {
  margin-inline-start: 0;
  margin-inline-end: var(--bui_spacing_2x);
}

.icon--end {
  margin-inline-start: var(--bui_spacing_2x);
  margin-inline-end: 0;
}

.root--variant-primary,
.root--variant-secondary {
  text-decoration: none;
}

p .root--variant-secondary {
  text-decoration: underline;
}

.root--icon {
  display: inline-flex;
  align-items: center;
}

.root--variant-secondary,
.root--variant-secondary:hover,
.root--variant-secondary:focus,
.root--variant-secondary:active,
.root--variant-secondary:visited {
  color: var(--bui_color_foreground);
}

.root--disabled,
.root--disabled:focus,
.root--disabled:visited,
.root--disabled:active,
.root--disabled:hover {
  color: var(--bui_color_foreground_disabled);
  text-decoration: none;
}
