/* 
@deprecated Remove in v10
Local styles on top of the Vue implementation 
*/

.icon {
  margin-inline-end: var(--bui_spacing_4x);
}

.main {
  flex: 1;
}

.body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.side {
  margin-inline-start: var(--bui_spacing_4x);
}

.item {
  display: flex;
  align-items: center;
}

.item--text-only {
  display: block;
}

@media (--bui_small_viewport) {
  .item--with-title {
    align-items: flex-start;
  }

  .body {
    flex-direction: column;
    align-items: flex-start;
  }

  .side {
    margin-inline-start: 0;
    margin-block-start: var(--bui_spacing_2x);
  }
}
