.root {
  padding-inline-end: var(--bui_spacing_4x);
  margin: 0;
  margin-block-end: var(--bui_spacing_4x);
}

.root:last-child {
  margin-block-end: 0;
}

.item--spacing-small {
  margin-block-end: var(--bui_spacing_1x);
}

.item--spacing-medium {
  margin-block-end: var(--bui_spacing_2x);
}

.item--spacing-large {
  margin-block-end: var(--bui_spacing_3x);
}

.item--spacing-none {
  margin-block-end: 0;
}

.item:last-child {
  margin-block-end: 0;
}

.root--variant-unordered {
  list-style-type: disc;
}

.root--variant-ordered {
  list-style-type: decimal;
}

.root--variant-upper-alpha {
  list-style-type: upper-alpha;
}

.root--variant-ordered .item,
.root--variant-unordered .item,
.root--variant-upper-alpha .item {
  display: list-item;
}

.root--variant-text {
  list-style-type: none;
  padding-inline-start: 0;
}

.root--divided > .item {
  margin: 0;
  padding: var(--bui_spacing_4x) 0;
  border-block-end: var(--bui_border_width_100) solid
    var(--bui_color_border_alt);
}

.root--divided > .item:first-child {
  padding-block-start: 0;
}

.root--divided > .item:last-child {
  border-block-end: 0;
  padding-block-end: 0;
}
