.root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--bui_spacing_1x) 0;

  @apply --bui_font_body_2;
}

.nav {
  flex: 1;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.pages {
  display: flex;
}

.currentPage {
  padding: 0 var(--bui_spacing_4x);
  flex-shrink: 0;
  flex-grow: 1;
  text-align: center;
}

.direction {
  margin: 0 var(--bui_spacing_1x);
}

.direction:first-child {
  margin-inline-start: 0;
  margin-inline-end: var(--bui_spacing_1x);
}

.direction:last-child {
  margin-inline-end: 0;
  margin-inline-start: var(--bui_spacing_1x);
}

.navButton {
  @apply --bui_font_emphasized_2;
}

.prevArrow {
  display: inline-flex;
  align-items: center;
  margin-inline-end: var(--bui_spacing_1x);
}

.item + .item {
  margin-inline-start: var(--bui_spacing_2x);
}

.nextArrow {
  margin-inline-start: var(--bui_spacing_1x);
}

.link,
.link:visited,
.link:link,
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bui_color_action_foreground);
  min-width: var(--bui_spacing_6x);
  height: var(--bui_spacing_6x);
  padding: 0 var(--bui_spacing_1x);
  border: var(--bui_border_width_100) solid transparent;
  border-radius: var(--bui_border_radius_100);
}

.separator {
  color: var(--bui_color_foreground_disabled);
}

/* Hover state */
.item:hover .link {
  border-color: transparent;
  background-color: var(--bui_color_action_highlighted_alt);
}

/* Active state */
.item--active .link,
.item--active:hover .link {
  border-color: var(--bui_color_border);
  background-color: transparent;
  color: var(--bui_color_foreground);
  cursor: default;
}

/* Disabled state */
.item--disabled .link,
.item--disabled:hover .link {
  border-color: transparent;
  background-color: transparent;
  fill: var(--bui_color_foreground_disabled);
  color: var(--bui_color_foreground_disabled);
}

.control {
  border-color: transparent;
}

.controls {
  display: flex;
  align-items: center;
}

.controls-separator {
  width: 1px;
  height: var(--bui_spacing_6x);
  background-color: var(--bui_color_border_alt);
  margin: 0 var(--bui_spacing_4x);
}

.controls-info-label {
  padding-block: var(--bui_spacing_2x);
}

.controls-info-label:last-child {
  padding-inline-end: var(--bui_spacing_4x);
}

.controls-separator + .select {
  margin-inline-start: calc(var(--bui_spacing_2x) * -1);
}

@media (--bui_large_viewport) {
  .list {
    justify-content: flex-start;
  }

  .nav {
    flex: 0;
  }

  .root {
    justify-content: space-between;
  }
}
