.root {
  line-height: 0;
}

.container {
  display: inline-flex;
  position: relative;
  transition: transform var(--bui_animation_press);
}

.container::after,
.container::before {
  content: "";
  position: absolute;
  width: var(--bui_spacing_2x);
  height: var(--bui_spacing_2x);
  background: var(--bui_color_border);
  border-radius: 50%;
  inset-inline-start: calc(var(--bui_spacing_4x) * -1);
  inset-block-start: 50%;
  transform: translateY(-50%) scale(0);
  transition: var(--bui_animation_press);
  transition-property: transform, opacity, background-color;
}

.item {
  width: var(--bui_spacing_2x);
  height: var(--bui_spacing_2x);
  border-radius: 50%;
  margin-inline-start: var(--bui_spacing_2x);
  transition: var(--bui_animation_press);
  transition-property: transform, opacity, background-color;
}

.item:first-child {
  margin-inline-start: 0;
}

.item--active {
  transform: scale(1.25);
}

.item--size-small {
  transform: scale(0.75);
}

.item--size-smaller {
  transform: scale(0.5);
}

.item--hidden {
  transform: scale(0);
}

/* Variant Primary */
.root--variant-primary .item {
  background: var(--bui_color_border);
}

.root--variant-primary .item--active {
  background: var(--bui_color_action_border);
}

/* Variant White */
.root--variant-white .item {
  background: var(--bui_color_white);
  opacity: 0.5;
}

.root--variant-white .item--active {
  opacity: 1;
}

/* Ghost start/end */
.root--ghost-start .container {
  transform: translateX(var(--bui_spacing_4x));
}

.root--ghost-end .container {
  transform: translateX(calc(var(--bui_spacing_4x) * -1));
}

.root--ghost-start .container::before,
.root--ghost-end .container::after {
  transform: translateY(-50%) scale(0.5);
}

.root--ghost-start .container::before {
  inset-inline-end: auto;
  inset-inline-start: calc(var(--bui_spacing_4x) * -1);
}

.root--ghost-end .container::after {
  inset-inline-start: auto;
  inset-inline-end: calc(var(--bui_spacing_4x) * -1);
}

.root--ghost-start.root--variant-white::before,
.root--ghost-end.root--variant-white::after {
  opacity: 0.5;
}

/* Animated */
.root--not-animated .container,
.root--not-animated .container::before,
.root--not-animated .container::after,
.root--not-animated .item {
  transition: none;
}
