.root {
  display: flex;
}

.item {
  fill: var(--bui_color_accent_background);
  margin-inline-start: var(--bui_spacing_half);
  margin-inline-end: 0;
}

.item:first-child {
  margin-inline-start: 0;
}
