.badge {
  background: var(--bui_color_brand_primary_background);
  color: var(--bui_color_on_brand_primary_background);
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: baseline;

  /* Border radius is a part of branding */

  /* stylelint-disable-next-line safe-logical-properties/validate-logical-usage */
  border-radius: calc(var(--bui_spacing_8x) / 5.5)
    calc(var(--bui_spacing_8x) / 5.5) calc(var(--bui_spacing_8x) / 5.5) 0;
  height: var(--bui_spacing_8x);
  width: var(--bui_spacing_8x);
  min-width: var(--bui_spacing_8x);
}

.root--size-small .badge {
  width: calc(var(--bui_spacing_1x) * 7);
  min-width: calc(var(--bui_spacing_1x) * 7);
  height: calc(var(--bui_spacing_1x) * 7);

  /* Border radius is a part of branding */

  /* stylelint-disable-next-line safe-logical-properties/validate-logical-usage */
  border-radius: calc(var(--bui_spacing_1x) * 7 / 5.5)
    calc(var(--bui_spacing_1x) * 7 / 5.5) calc(var(--bui_spacing_1x) * 7 / 5.5)
    0;
}

.root--size-smaller .badge {
  width: var(--bui_spacing_6x);
  min-width: var(--bui_spacing_6x);
  height: var(--bui_spacing_6x);

  /* Border radius is a part of branding */

  /* stylelint-disable-next-line safe-logical-properties/validate-logical-usage */
  border-radius: calc(var(--bui_spacing_6x) / 5.5)
    calc(var(--bui_spacing_6x) / 5.5) calc(var(--bui_spacing_6x) / 5.5) 0;
}

.root--adjusted-text-gap .text {
  margin-block-start: calc(var(--bui_spacing_1x) * -1);
}

.root--adjusted-text-gap.root--size-small .text,
.root--adjusted-text-gap.root--size-smaller .text {
  margin-block-start: calc(var(--bui_spacing_half) * -1);
}

.root--variant-outline .badge {
  background: transparent;
  border: var(--bui_border_width_100) solid var(--bui_color_border);
  color: var(--bui_color_foreground);
}

.root--variant-inverse .badge {
  background: transparent;
  border: var(--bui_border_width_100) solid var(--bui_color_white);
  color: var(--bui_color_white);
}

.root--variant-inverse .title,
.root--variant-inverse .text {
  color: var(--bui_color_white);
}

.root--alignment-end .content {
  text-align: end;
}
