.root,
.scrim {
  position: absolute;
  inset: 0;
}

.root {
  pointer-events: none;

  --bui_scrim_gradient_bg: rgba(0, 0, 0, 0.34902) 0%,
    rgba(0, 0, 0, 0.423529) 13.81%, rgba(0, 0, 0, 0.494118) 28.27%,
    rgba(0, 0, 0, 0.560784) 42.12%, rgba(0, 0, 0, 0.615686) 56.28%,
    rgba(0, 0, 0, 0.662745) 70.13%, rgba(0, 0, 0, 0.690196) 84.88%,
    rgba(0, 0, 0, 0.701961) 100%;
  --bui_scrim_gradient_fade: rgba(0, 0, 0, 0.0001) 0%,
    rgba(0, 0, 0, 0.0117647) 13.54%, rgba(0, 0, 0, 0.0392157) 27.6%,
    rgba(0, 0, 0, 0.0823529) 42.19%, rgba(0, 0, 0, 0.137255) 56.77%,
    rgba(0, 0, 0, 0.203922) 71.35%, rgba(0, 0, 0, 0.27451) 85.94%,
    rgba(0, 0, 0, 0.34902) 100%;
}

.scrim {
  padding: var(--bui_spacing_4x);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bui_color_white);

  /*
    Turn on GPU acceleration for handling events on underlying elements properly
    Example: Media slider scrolling with css snapping
    */
  transform: translateZ(0);
}

.content {
  pointer-events: all;
}

.root--centered .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.root--position-full .scrim {
  background-color: var(--bui_color_black_with_alpha);
}

.root--position-full .content {
  text-align: center;
}

.root--position-full .content,
.root--position-top .content,
.root--position-bottom .content {
  width: 100%;
}

.root--position-start .content,
.root--position-end .content {
  height: 100%;
}

.root--position-top .scrim {
  justify-content: start;
  inset-block-end: auto;
  background: linear-gradient(0, var(--bui_scrim_gradient_bg));
}

.root--position-bottom .scrim {
  justify-content: start;
  inset-block-start: auto;
  background: linear-gradient(180deg, var(--bui_scrim_gradient_bg));
}

.root--position-top .scrim::before,
.root--position-bottom .scrim::before {
  content: "";
  position: absolute;
  inset-inline: 0;
  height: calc(var(--bui_spacing_1x) * 13);
}

.root--position-top .scrim::before {
  inset-block-start: 100%;
  background: linear-gradient(0, var(--bui_scrim_gradient_fade));
}

.root--position-bottom .scrim::before {
  inset-block-end: 100%;
  background: linear-gradient(180deg, var(--bui_scrim_gradient_fade));
}

.root--position-start .scrim {
  width: auto;
  justify-content: start;
  align-items: start;
  inset-inline-end: auto;
  inset-inline-start: 0;
  background: linear-gradient(-90deg, var(--bui_scrim_gradient_bg));
}

[dir="rtl"] .root--position-start .scrim {
  background: linear-gradient(90deg, var(--bui_scrim_gradient_bg));
}

.root--position-end .scrim {
  width: auto;
  align-items: start;
  justify-content: end;
  inset-inline-end: 0;
  inset-inline-start: auto;
  background: linear-gradient(90deg, var(--bui_scrim_gradient_bg));
}

[dir="rtl"] .root--position-end .scrim {
  background: linear-gradient(-90deg, var(--bui_scrim_gradient_bg));
}

.root--position-start .scrim::before,
.root--position-end .scrim::before {
  content: "";
  position: absolute;
  inset-block: 0;
  width: calc(var(--bui_spacing_1x) * 13);
}

.root--position-start .scrim::before {
  inset-inline-start: 100%;
  inset-inline-end: auto;
  background: linear-gradient(-90deg, var(--bui_scrim_gradient_fade));
}

[dir="rtl"] .root--position-start .scrim::before {
  background: linear-gradient(90deg, var(--bui_scrim_gradient_fade));
}

.root--position-end .scrim::before {
  inset-inline-end: 100%;
  inset-inline-start: auto;
  background: linear-gradient(90deg, var(--bui_scrim_gradient_fade));
}

[dir="rtl"] .root--position-end .scrim::before {
  background: linear-gradient(-90deg, var(--bui_scrim_gradient_fade));
}

.root--fill .scrim {
  padding: 0;
}

.root--with-background {
  position: relative;
  overflow: hidden;
}

.root--border-radius-100 {
  border-radius: var(--bui_border_radius_100);
}

.root--border-radius-200 {
  border-radius: var(--bui_border_radius_200);
}

.root--border-radius-300 {
  border-radius: var(--bui_border_radius_300);
}
