.root {
  display: block;
  transition: var(--bui_animation_press);
  transition-property: box-shadow;
}

.root:hover {
  cursor: pointer;
}

.root--checked {
  border-color: transparent;
  box-shadow: 0 0 0 var(--bui_border_width_200) var(--bui_color_action_border);
}

.root--error {
  border-color: transparent;
  box-shadow: 0 0 0 var(--bui_border_width_200)
    var(--bui_color_destructive_border);
}

.root--disabled {
  border-color: var(--bui_color_border_disabled);
  background-color: var(--bui_color_background_disabled_alt);
  box-shadow: none;
}

.root--disabled:hover {
  cursor: not-allowed;
}

.root--elevated.root--checked {
  box-shadow: var(--bui_shadow_100),
    0 0 0 var(--bui_border_width_200) var(--bui_color_action_border);
}

.root--elevated.root--error {
  box-shadow: var(--bui_shadow_100),
    0 0 0 var(--bui_border_width_200) var(--bui_color_destructive_border);
}

.root--elevated.root--disabled {
  box-shadow: var(--bui_shadow_100);
}
