.container {
  white-space: nowrap;
  overflow-x: scroll;
  backface-visibility: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.container--scroll-disabled {
  overflow-x: hidden;
}

.container--snappy {
  scroll-snap-type: x mandatory;
}

.item {
  white-space: normal;
}

.control {
  cursor: default;
  transition: opacity var(--bui_animation_duration)
    var(--bui_easing-subtle-in-out);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.control.control--clickable {
  visibility: visible;
}

.control.control--visible {
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}

.control.control--visible:active {
  opacity: 1;
}
