
:root,
[data-bui-theme="traveller_ex-light"] {
--bui_color_border: #868686;
--bui_color_border_alt: #e7e7e7;
--bui_color_action_border: #006ce4;
--bui_color_border_disabled: #d9d9d9;
--bui_color_destructive_border: #d4111e;
--bui_color_constructive_border: #008234;
--bui_color_foreground: #1a1a1a;
--bui_color_foreground_alt: #595959;
--bui_color_foreground_inverted: #f5f5f5;
--bui_color_accent_foreground: #946800;
--bui_color_action_foreground: #006ce4;
--bui_color_callout_foreground: #923e01;
--bui_color_foreground_disabled: #a2a2a2;
--bui_color_destructive_foreground: #d4111e;
--bui_color_constructive_foreground: #008234;
--bui_color_foreground_disabled_alt: #d9d9d9;
--bui_color_brand_primary_foreground: #003b95;
--bui_color_action_foreground_inverted: #57a6f4;
--bui_color_action_focus: rgba(0, 108, 228, 0.24);
--bui_color_highlighted_alt: rgba(26, 26, 26, 0.06);
--bui_color_action_highlighted_alt: rgba(0, 108, 228, 0.06);
--bui_color_destructive_highlighted_alt: rgba(212, 17, 30, 0.06);
--bui_color_highlighted: #cecece;
--bui_color_destructive_focus: rgba(212, 17, 30, 0.24);
--bui_color_on_background: #ffffff;
--bui_color_background_inverted: #1a1a1a;
--bui_color_background_inverted_rgb: 26, 26, 26;
--bui_color_background: #595959;
--bui_color_background_rgb: 89, 89, 89;
--bui_color_background_alt: #f5f5f5;
--bui_color_background_alt_rgb: 245, 245, 245;
--bui_color_background_base: #ffffff;
--bui_color_background_base_rgb: 255, 255, 255;
--bui_color_background_base_alt: #f5f5f5;
--bui_color_background_base_alt_rgb: 245, 245, 245;
--bui_color_background_disabled: #d9d9d9;
--bui_color_background_disabled_rgb: 217, 217, 217;
--bui_color_accent_background_alt: #fffaec;
--bui_color_accent_background_alt_rgb: 255, 250, 236;
--bui_color_action_background_alt: #f0f6ff;
--bui_color_action_background_alt_rgb: 240, 246, 255;
--bui_color_callout_background_alt: #fef3ec;
--bui_color_callout_background_alt_rgb: 254, 243, 236;
--bui_color_background_disabled_alt: #f5f5f5;
--bui_color_background_disabled_alt_rgb: 245, 245, 245;
--bui_color_destructive_background_alt: #fff5f5;
--bui_color_destructive_background_alt_rgb: 255, 245, 245;
--bui_color_constructive_background_alt: #f1fef6;
--bui_color_constructive_background_alt_rgb: 241, 254, 246;
--bui_color_on_accent_background_dynamic: #242424;
--bui_color_on_callout_background_dynamic: #242424;
--bui_color_on_destructive_background_dynamic: #ffffff;
--bui_color_on_constructive_background_dynamic: #ffffff;
--bui_color_background_elevation_one: #ffffff;
--bui_color_background_elevation_two: #ffffff;
--bui_color_background_elevation_two_rgb: 255, 255, 255;
--bui_color_accent_background_dynamic: #ffb700;
--bui_color_callout_background_dynamic: #f56700;
--bui_color_destructive_background_dynamic: #d4111e;
--bui_color_constructive_background_dynamic: #008234;
--bui_color_brand_primary_background_dynamic: #003b95;
}

[data-bui-theme="traveller_ex-dark"] {
--bui_color_border: #a2a2a2;
--bui_color_border_alt: #595959;
--bui_color_action_border: #57a6f4;
--bui_color_border_disabled: #868686;
--bui_color_destructive_border: #e56b74;
--bui_color_constructive_border: #24a85b;
--bui_color_foreground: #f5f5f5;
--bui_color_foreground_alt: #d9d9d9;
--bui_color_foreground_inverted: #1a1a1a;
--bui_color_accent_foreground: #ffb700;
--bui_color_action_foreground: #57a6f4;
--bui_color_callout_foreground: #f56700;
--bui_color_foreground_disabled: #868686;
--bui_color_destructive_foreground: #e56b74;
--bui_color_constructive_foreground: #24a85b;
--bui_color_foreground_disabled_alt: #595959;
--bui_color_brand_primary_foreground: #cee6ff;
--bui_color_action_foreground_inverted: #006ce4;
--bui_color_action_focus: rgba(87, 166, 244, 0.24);
--bui_color_highlighted_alt: rgba(255, 255, 255, 0.12);
--bui_color_action_highlighted_alt: rgba(87, 166, 244, 0.12);
--bui_color_destructive_highlighted_alt: rgba(229, 107, 116, 0.12);
--bui_color_highlighted: #4b4b4b;
--bui_color_destructive_focus: rgba(229, 107, 116, 0.24);
--bui_color_on_background: #242424;
--bui_color_background_inverted: #f5f5f5;
--bui_color_background_inverted_rgb: 245, 245, 245;
--bui_color_background: #d9d9d9;
--bui_color_background_rgb: 217, 217, 217;
--bui_color_background_alt: #2b2b2b;
--bui_color_background_alt_rgb: 43, 43, 43;
--bui_color_background_base: #1a1a1a;
--bui_color_background_base_rgb: 26, 26, 26;
--bui_color_background_base_alt: #1a1a1a;
--bui_color_background_base_alt_rgb: 26, 26, 26;
--bui_color_background_disabled: #595959;
--bui_color_background_disabled_rgb: 89, 89, 89;
--bui_color_accent_background_alt: #463301;
--bui_color_accent_background_alt_rgb: 70, 51, 1;
--bui_color_action_background_alt: #041b43;
--bui_color_action_background_alt_rgb: 4, 27, 67;
--bui_color_callout_background_alt: #411b01;
--bui_color_callout_background_alt_rgb: 65, 27, 1;
--bui_color_background_disabled_alt: #2b2b2b;
--bui_color_background_disabled_alt_rgb: 43, 43, 43;
--bui_color_destructive_background_alt: #420a0e;
--bui_color_destructive_background_alt_rgb: 66, 10, 14;
--bui_color_constructive_background_alt: #083019;
--bui_color_constructive_background_alt_rgb: 8, 48, 25;
--bui_color_on_accent_background_dynamic: #ffb700;
--bui_color_on_callout_background_dynamic: #f56700;
--bui_color_on_destructive_background_dynamic: #e56b74;
--bui_color_on_constructive_background_dynamic: #24a85b;
--bui_color_background_elevation_one: #242424;
--bui_color_background_elevation_two: #2b2b2b;
--bui_color_background_elevation_two_rgb: 43, 43, 43;
--bui_color_accent_background_dynamic: #2b2b2b;
--bui_color_callout_background_dynamic: #2b2b2b;
--bui_color_destructive_background_dynamic: #2b2b2b;
--bui_color_constructive_background_dynamic: #2b2b2b;
--bui_color_brand_primary_background_dynamic: #2b2b2b;
}

:root,
[data-bui-theme="traveller_ex-light"],
[data-bui-theme="traveller_ex-dark"] {
--bui_color_accent_border: #ffb700;
  --bui_color_callout_border: #f56700;
  --bui_color_brand_genius_secondary_foreground: #febb02;
  --bui_color_cta_highlighted: #0057b8;
  --bui_color_action_highlighted: #0057b8;
  --bui_color_destructive_highlighted: #af0e19;
  --bui_color_on_accent_background: #242424;
  --bui_color_on_callout_background: #242424;
  --bui_color_on_cta_background: #ffffff;
  --bui_color_on_action_background: #ffffff;
  --bui_color_on_destructive_background: #ffffff;
  --bui_color_on_constructive_background: #ffffff;
  --bui_color_on_brand_primary_background: #ffffff;
  --bui_color_on_brand_genius_primary_background: #ffffff;
  --bui_color_transparent: rgba(26, 26, 26, 0);
  --bui_color_cta_background: #006ce4;
  --bui_color_cta_background_rgb: 0, 108, 228;
  --bui_color_black_with_alpha: rgba(26, 26, 26, 0.5);
  --bui_color_accent_background: #ffb700;
  --bui_color_accent_background_rgb: 255, 183, 0;
  --bui_color_action_background: #006ce4;
  --bui_color_action_background_rgb: 0, 108, 228;
  --bui_color_callout_background: #f56700;
  --bui_color_callout_background_rgb: 245, 103, 0;
  --bui_color_destructive_background: #d4111e;
  --bui_color_destructive_background_rgb: 212, 17, 30;
  --bui_color_constructive_background: #008234;
  --bui_color_constructive_background_rgb: 0, 130, 52;
  --bui_color_brand_primary_background: #003b95;
  --bui_color_brand_primary_background_rgb: 0, 59, 149;
  --bui_color_brand_genius_primary_background: #003b95;
  --bui_color_brand_genius_primary_background_rgb: 0, 59, 149;
  --bui_color_on_brand_primary_background_dynamic: #ffffff;
  --bui_color_black: #1a1a1a;
  --bui_color_black_rgb: 26, 26, 26;
  --bui_color_white: #ffffff;
  --bui_color_white_rgb: 255, 255, 255;
  --bui_shadow_100: 0px 2px 8px 0px rgba(26, 26, 26, 0.16);
  --bui_shadow_200: 0px 2px 16px 0px rgba(26, 26, 26, 0.24);
  --bui_shadow_300: 0px 4px 16px 0px rgba(26, 26, 26, 0.32);
  --bui_spacing_1x: 4px;
  --bui_spacing_2x: 8px;
  --bui_spacing_3x: 12px;
  --bui_spacing_4x: 16px;
  --bui_spacing_6x: 24px;
  --bui_spacing_8x: 32px;
  --bui_spacing_12x: 48px;
  --bui_spacing_16x: 64px;
  --bui_spacing_24x: 96px;
  --bui_spacing_half: 2px;
  --bui_border_width_100: 1px;
  --bui_border_width_200: 2px;
  --bui_border_radius_100: 4px;
  --bui_border_radius_200: 8px;
  --bui_border_radius_300: 12px;
--bui_animation_exit_duration: var(--bui_animation_reduced_motion_duration, 0.12s);
  --bui_animation_exit_timing_function: cubic-bezier(0.2, 0, 1, 0.8);
  --bui_animation_exit: var(--bui_animation_exit_duration) var(--bui_animation_exit_timing_function);
  --bui_animation_enter_duration: var(--bui_animation_reduced_motion_duration, 0.12s);
  --bui_animation_enter_timing_function: cubic-bezier(0, 0, 0.4, 0.8);
  --bui_animation_enter: var(--bui_animation_enter_duration) var(--bui_animation_enter_timing_function);
  --bui_animation_hover_duration: var(--bui_animation_reduced_motion_duration, 0.12s);
  --bui_animation_hover_timing_function: cubic-bezier(0.2, 0, 0.4, 0.8);
  --bui_animation_hover: var(--bui_animation_hover_duration) var(--bui_animation_hover_timing_function);
  --bui_animation_press_duration: var(--bui_animation_reduced_motion_duration, 0.12s);
  --bui_animation_press_timing_function: cubic-bezier(0.2, 0, 0.4, 0.8);
  --bui_animation_press: var(--bui_animation_press_duration) var(--bui_animation_press_timing_function);
  --bui_animation_appear_duration: var(--bui_animation_reduced_motion_duration, 0.24s);
  --bui_animation_appear_timing_function: cubic-bezier(0, 0, 0.4, 1);
  --bui_animation_appear: var(--bui_animation_appear_duration) var(--bui_animation_appear_timing_function);
  --bui_animation_fade_in_duration: var(--bui_animation_reduced_motion_duration, 0.24s);
  --bui_animation_fade_in_timing_function: cubic-bezier(0, 0, 0.4, 1);
  --bui_animation_fade_in: var(--bui_animation_fade_in_duration) var(--bui_animation_fade_in_timing_function);
  --bui_animation_fade_out_duration: var(--bui_animation_reduced_motion_duration, 0.12s);
  --bui_animation_fade_out_timing_function: cubic-bezier(1, 0, 1, 1);
  --bui_animation_fade_out: var(--bui_animation_fade_out_duration) var(--bui_animation_fade_out_timing_function);
  --bui_animation_disappear_duration: var(--bui_animation_reduced_motion_duration, 0.12s);
  --bui_animation_disappear_timing_function: cubic-bezier(0.2, 0, 1, 0.8);
  --bui_animation_disappear: var(--bui_animation_disappear_duration) var(--bui_animation_disappear_timing_function);
  --bui_animation_page_transition_exit_duration: var(--bui_animation_reduced_motion_duration, 0.48s);
  --bui_animation_page_transition_exit_timing_function: cubic-bezier(1, 0, 1, 1);
  --bui_animation_page_transition_exit: var(--bui_animation_page_transition_exit_duration) var(--bui_animation_page_transition_exit_timing_function);
  --bui_animation_page_transition_enter_duration: var(--bui_animation_reduced_motion_duration, 0.48s);
  --bui_animation_page_transition_enter_timing_function: cubic-bezier(0, 0, 0.4, 1);
  --bui_animation_page_transition_enter: var(--bui_animation_page_transition_enter_duration) var(--bui_animation_page_transition_enter_timing_function);
}

@media (prefers-reduced-motion) {
  :root {
    --bui_animation_reduced_motion_duration: 1ms;
  }
}
:root,
[data-bui-theme="traveller_ex-light"],
[data-bui-theme="traveller_ex-dark"] {
--bui_font_body_1_font-size: 16px;
--bui_font_body_1_font-weight: 400;
--bui_font_body_1_line-height: 24px;
--bui_font_body_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_body_2_font-size: 14px;
--bui_font_body_2_font-weight: 400;
--bui_font_body_2_line-height: 20px;
--bui_font_body_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_small_1_font-size: 12px;
--bui_font_small_1_font-weight: 400;
--bui_font_small_1_line-height: 18px;
--bui_font_small_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_small_2_font-size: 10px;
--bui_font_small_2_font-weight: 500;
--bui_font_small_2_line-height: 16px;
--bui_font_small_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_strong_1_font-size: 16px;
--bui_font_strong_1_font-weight: 700;
--bui_font_strong_1_line-height: 24px;
--bui_font_strong_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_strong_2_font-size: 14px;
--bui_font_strong_2_font-weight: 700;
--bui_font_strong_2_line-height: 20px;
--bui_font_strong_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_display_1_font-size: 40px;
--bui_font_display_1_font-weight: 800;
--bui_font_display_1_line-height: 52px;
--bui_font_display_1_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_display_2_font-size: 36px;
--bui_font_display_2_font-weight: 800;
--bui_font_display_2_line-height: 48px;
--bui_font_display_2_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_display_3_font-size: 32px;
--bui_font_display_3_font-weight: 800;
--bui_font_display_3_line-height: 40px;
--bui_font_display_3_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_featured_1_font-size: 20px;
--bui_font_featured_1_font-weight: 400;
--bui_font_featured_1_line-height: 28px;
--bui_font_featured_1_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_featured_2_font-size: 20px;
--bui_font_featured_2_font-weight: 400;
--bui_font_featured_2_line-height: 28px;
--bui_font_featured_2_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_featured_3_font-size: 20px;
--bui_font_featured_3_font-weight: 400;
--bui_font_featured_3_line-height: 28px;
--bui_font_featured_3_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_headline_1_font-size: 28px;
--bui_font_headline_1_font-weight: 700;
--bui_font_headline_1_line-height: 36px;
--bui_font_headline_1_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_headline_2_font-size: 24px;
--bui_font_headline_2_font-weight: 700;
--bui_font_headline_2_line-height: 32px;
--bui_font_headline_2_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_headline_3_font-size: 20px;
--bui_font_headline_3_font-weight: 700;
--bui_font_headline_3_line-height: 28px;
--bui_font_headline_3_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_emphasized_1_font-size: 16px;
--bui_font_emphasized_1_font-weight: 500;
--bui_font_emphasized_1_line-height: 24px;
--bui_font_emphasized_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_emphasized_2_font-size: 14px;
--bui_font_emphasized_2_font-weight: 500;
--bui_font_emphasized_2_line-height: 20px;
--bui_font_emphasized_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

@media (--bui_medium_viewport) {
:root,
[data-bui-theme="traveller_ex-light"],
[data-bui-theme="traveller_ex-dark"] {
--bui_font_body_1_font-size: 16px;
--bui_font_body_1_font-weight: 400;
--bui_font_body_1_line-height: 24px;
--bui_font_body_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_body_2_font-size: 14px;
--bui_font_body_2_font-weight: 400;
--bui_font_body_2_line-height: 20px;
--bui_font_body_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_small_1_font-size: 12px;
--bui_font_small_1_font-weight: 400;
--bui_font_small_1_line-height: 18px;
--bui_font_small_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_small_2_font-size: 12px;
--bui_font_small_2_font-weight: 500;
--bui_font_small_2_line-height: 18px;
--bui_font_small_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_strong_1_font-size: 16px;
--bui_font_strong_1_font-weight: 700;
--bui_font_strong_1_line-height: 24px;
--bui_font_strong_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_strong_2_font-size: 14px;
--bui_font_strong_2_font-weight: 700;
--bui_font_strong_2_line-height: 20px;
--bui_font_strong_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_display_1_font-size: 64px;
--bui_font_display_1_font-weight: 800;
--bui_font_display_1_line-height: 72px;
--bui_font_display_1_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_display_2_font-size: 56px;
--bui_font_display_2_font-weight: 800;
--bui_font_display_2_line-height: 64px;
--bui_font_display_2_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_display_3_font-size: 48px;
--bui_font_display_3_font-weight: 800;
--bui_font_display_3_line-height: 62px;
--bui_font_display_3_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_featured_1_font-size: 32px;
--bui_font_featured_1_font-weight: 400;
--bui_font_featured_1_line-height: 40px;
--bui_font_featured_1_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_featured_2_font-size: 24px;
--bui_font_featured_2_font-weight: 400;
--bui_font_featured_2_line-height: 32px;
--bui_font_featured_2_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_featured_3_font-size: 20px;
--bui_font_featured_3_font-weight: 400;
--bui_font_featured_3_line-height: 28px;
--bui_font_featured_3_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_headline_1_font-size: 32px;
--bui_font_headline_1_font-weight: 700;
--bui_font_headline_1_line-height: 40px;
--bui_font_headline_1_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_headline_2_font-size: 24px;
--bui_font_headline_2_font-weight: 700;
--bui_font_headline_2_line-height: 32px;
--bui_font_headline_2_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_headline_3_font-size: 20px;
--bui_font_headline_3_font-weight: 700;
--bui_font_headline_3_line-height: 28px;
--bui_font_headline_3_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_emphasized_1_font-size: 16px;
--bui_font_emphasized_1_font-weight: 500;
--bui_font_emphasized_1_line-height: 24px;
--bui_font_emphasized_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_emphasized_2_font-size: 14px;
--bui_font_emphasized_2_font-weight: 500;
--bui_font_emphasized_2_line-height: 20px;
--bui_font_emphasized_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
}

@media (--bui_large_viewport) {
:root,
[data-bui-theme="traveller_ex-light"],
[data-bui-theme="traveller_ex-dark"] {
--bui_font_body_1_font-size: 16px;
--bui_font_body_1_font-weight: 400;
--bui_font_body_1_line-height: 24px;
--bui_font_body_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_body_2_font-size: 14px;
--bui_font_body_2_font-weight: 400;
--bui_font_body_2_line-height: 20px;
--bui_font_body_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_small_1_font-size: 12px;
--bui_font_small_1_font-weight: 400;
--bui_font_small_1_line-height: 18px;
--bui_font_small_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_small_2_font-size: 12px;
--bui_font_small_2_font-weight: 500;
--bui_font_small_2_line-height: 18px;
--bui_font_small_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_strong_1_font-size: 16px;
--bui_font_strong_1_font-weight: 700;
--bui_font_strong_1_line-height: 24px;
--bui_font_strong_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_strong_2_font-size: 14px;
--bui_font_strong_2_font-weight: 700;
--bui_font_strong_2_line-height: 20px;
--bui_font_strong_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_display_1_font-size: 96px;
--bui_font_display_1_font-weight: 800;
--bui_font_display_1_line-height: 108px;
--bui_font_display_1_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_display_2_font-size: 64px;
--bui_font_display_2_font-weight: 800;
--bui_font_display_2_line-height: 72px;
--bui_font_display_2_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_display_3_font-size: 48px;
--bui_font_display_3_font-weight: 800;
--bui_font_display_3_line-height: 62px;
--bui_font_display_3_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_featured_1_font-size: 32px;
--bui_font_featured_1_font-weight: 400;
--bui_font_featured_1_line-height: 40px;
--bui_font_featured_1_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_featured_2_font-size: 24px;
--bui_font_featured_2_font-weight: 400;
--bui_font_featured_2_line-height: 32px;
--bui_font_featured_2_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_featured_3_font-size: 20px;
--bui_font_featured_3_font-weight: 400;
--bui_font_featured_3_line-height: 28px;
--bui_font_featured_3_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_headline_1_font-size: 32px;
--bui_font_headline_1_font-weight: 700;
--bui_font_headline_1_line-height: 40px;
--bui_font_headline_1_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_headline_2_font-size: 24px;
--bui_font_headline_2_font-weight: 700;
--bui_font_headline_2_line-height: 32px;
--bui_font_headline_2_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_headline_3_font-size: 20px;
--bui_font_headline_3_font-weight: 700;
--bui_font_headline_3_line-height: 28px;
--bui_font_headline_3_font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_emphasized_1_font-size: 16px;
--bui_font_emphasized_1_font-weight: 500;
--bui_font_emphasized_1_line-height: 24px;
--bui_font_emphasized_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--bui_font_emphasized_2_font-size: 14px;
--bui_font_emphasized_2_font-weight: 500;
--bui_font_emphasized_2_line-height: 20px;
--bui_font_emphasized_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
}
@font-face {
  font-family: "Blue Sans";
  src: url("https://t-cf.bstatic.com/design-assets/assets/v3.86.0/fonts-brand/BookingExtraBold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Blue Sans";
  src: url("https://t-cf.bstatic.com/design-assets/assets/v3.86.0/fonts-brand/BookingRegular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Blue Sans";
  src: url("https://t-cf.bstatic.com/design-assets/assets/v3.86.0/fonts-brand/BookingBold.woff") format("woff");
  font-weight: 700;
}